h1{
    text-align: center;
    background-position:center;
    color: teal;
    text-transform: uppercase;
    font-style: italic;
}
h2{
    text-align: left;
    color: crimson;
    text-transform: capitalize;
}
.in{
    border-style:solid;
    border-color:paleturquoise;
    box-sizing: content-box;
    color:rgb(124, 10, 147);
}
.out{
    width: 500px;
    border:5px double;
    color: blueviolet;
    padding-top: 100px;
    padding-bottom:100px;

}
.description{
    text-align: center;
    text-transform: uppercase;
    border: 2px solid;
    width: 200px;
    margin-left: auto;
    margin-right:auto;
}